<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="demo">
<hr/>
<div class="container" ng-controller="CustomerController">
    <div class="row">    
		<label>FromDate</label> <input type="text" placeholder="yyyy-mm-dd"ng-model="customerSearchDto.fromDate" class="input-sm spacing"/>
	    <label>ToDate</label> <input type="text" placeholder="yyyy-mm-dd" ng-model="customerSearchDto.toDate" class="input-sm spacing"/>
        
        <button ng-click="searchCustomerJobs()" class="btn btn-sm btn-info">Search</button>
    </div>
	<hr/>    
    <!--
    <div class="row">
        	<span ng-repeat="customerJob in allCustomerJobs" class="spacing">
	            {{customerJob.customer.customerName}}
	            {{customerJob.state}}
	            {{customerJob.customer.contactNumber}}
	            {{customerJob.taskType}}
	            {{customerJob.taskStatus}}
	            {{customerJob.endDate}}

	            {{customerJob.notificationMessage}}
	            {{customerJob.returnMessage}}
	            <br/>
            </span>
    </div>
    -->
    
    <table st-table="rowCollection" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="customerName">Customer Name</th>
			<th st-sort="taskId">Task Id</th>
			<th st-sort="correlationId">Correlation Id</th>
			<th st-sort="taskType">Task Type</th>
			<th st-sort="taskStatus">Task Status</th>
			<th st-sort="endDate">End Date</th>
			<th st-sort="customerState">State</th>
			<th st-sort="contactNumber">Primary Contact NO</th>
			<th st-sort="notificationMessage">Notification Sent</th>
			<th st-sort="returnMessage">Return Message</th>
		</tr>
		<tr>
			<th>
				<input st-search="'customerName'" placeholder="search for customerName" class="input-sm form-control" type="search"/>
			</th>
		</tr>
		</thead>
		
		<tbody>
		<tr ng-repeat="customerJob in allCustomerJobs">
			<td>{{customerJob.customer.customerName | uppercase}}</td>
			<td>{{customerJob.id}}</td>
			<td>{{customerJob.id}}</td>
			<td>{{customerJob.taskType}}</td>
			<td>{{customerJob.taskStatus}}</td>
			<td>{{customerJob.endDate}}</td>
			<td>{{customerJob.state}}</td>
			<td>{{customerJob.customer.contactNumber}}</td>
			<td>{{customerJob.notificationMessage}}</td>
			<td>{{customerJob.returnMessage}}</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="11" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
    </table>
    
</div>
</body>

<script src="../js/lib/angular.min.js"></script>
<script src="../js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="../js/lib/smart-table.min.js"></script>
<script src="../js/app/app.js"></script>
<script src="../js/app/CustomerController.js"></script>
<script src="../js/app/CustomerService.js"></script>
<link rel="stylesheet" href="../css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="../css/app/app.css"/>
</html>